:root {
  --primary-color: #212121;
  --secondary-color: #ffffff;
  --main-text-color: #757575;
  --primary-bg-color: #2F303A;
  --secondary-bg-color: #F5F4FA;
  --accent-color: #2196F3;
  --hover-btn-color: #188CE8;
  --main-icon-color: #AFB1B8;
  --shadow-color: #EEEEEE;
  --border-color: #ECECEC;
  --close-btn-color: #000000;
  --primary-font-family: "Roboto", sens-serif;
  --secondary-font-family: "Raleway", sens-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--primary-font-family);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.thumb {
  position: relative;
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  color: var(--primary-color);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.logo {
  color: var(--accent-color);
  font-family: var(--secondary-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923076923;
    letter-spacing: 0.03em;
  }
}

.logo__light {
  color: var(--primary-color);
}

.logo__dark {
  color: var(--secondary-color);
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--main-icon-color);
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.social-list__link:hover, .social-list__link:focus {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}
.page-footer .social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.modal {
  position: fixed;
  width: 528px;
  padding: 40px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
.backdrop.is-hidden .modal {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    max-width: 450px;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--close-btn-color);
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
  background-color: transparent;
}
.close-btn .icon {
  fill: currentColor;
}
.close-btn:hover, .close-btn:focus {
  color: var(--accent-color);
}

.modal-title {
  margin-bottom: 12px;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-color);
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.form-field .icon {
  position: absolute;
  bottom: 50%;
  left: 12px;
  bottom: 11px;
  fill: currentColor;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.form-lable {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.form-input {
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
}
.form-input:hover, .form-input:focus {
  cursor: pointer;
  border: 1px solid var(--accent-color);
}

.form-input:hover + .icon,
.form-input:focus + .icon {
  color: #2196f3;
}

.coment-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-coments {
  margin-bottom: 20px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
}
.form-coments:hover, .form-coments:focus {
  border: 1px solid var(--accent-color);
  cursor: pointer;
}
.form-coments::-webkit-input-placeholder {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-coments::-moz-placeholder {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-coments:-ms-input-placeholder {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-coments::-ms-input-placeholder {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-coments::placeholder {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.accept-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.accept-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.accept-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
  border-radius: 2px;
  outline: 2px solid var(--primary-color);
  outline-offset: -2px;
}

.accept-label .icon {
  visibility: hidden;
}
.checkbox:checked + .accept-label .icon {
  visibility: visible;
}

.checkbox:focus + .accept-label .accept-icon {
  outline: 2px solid var(--accent-color);
}

.checkbox:checked + .accept-label .accept-icon {
  visibility: hidden;
}

.contract-terms {
  margin-left: 8px;
  color: var(--accent-color);
}

.send-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.send-btn .subcribe__btn {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.send-btn .subcribe__btn:hover, .send-btn .subcribe__btn:focus {
  background-color: var(--hover-btn-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--secondary-color);
  z-index: 999;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (min-width: 768px) {
  .menu-container {
    display: none;
  }
}
.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-toggle {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.menu-toggle:hover, .menu-toggle:focus {
  color: var(--accent-color);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle .icon {
  fill: currentColor;
}

.navigation__item {
  margin-bottom: 32px;
}
.navigation__item:last-child {
  margin-bottom: 0;
}

.navigation__link {
  display: block;
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.navigation__link_current {
  color: var(--accent-color);
  margin-left: 2px;
  margin-bottom: 36px;
}

.contact {
  position: absolute;
  left: 40px;
  bottom: 134px;
}

.contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.contact__phone {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.contact__mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.socials {
  position: absolute;
  bottom: 48px;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.socials__link {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.socials__item:last-child .socials__link {
  border-right: none;
}

.page-header {
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .page-header {
    padding: 10px 0;
  }
}

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1199px) {
  .page-header__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 92px;
  }
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    padding: 0;
  }
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link_current {
  position: relative;
  color: var(--accent-color);
}
.site-nav__link_current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact-nav {
    display: block;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .contact-nav__item:first-child {
    margin-bottom: 10px;
  }
}

.contact-nav__link {
  display: block;
  color: var(--main-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.contact-nav__link:hover, .contact-nav__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .contact-nav__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact-nav__icon-mail {
  vertical-align: middle;
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (max-width: 1199px) {
  .contact-nav__icon-mail {
    width: 14px;
    height: 10px;
  }
}

.contact-nav__icon-phone {
  vertical-align: middle;
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (max-width: 1199px) {
  .contact-nav__icon-phone {
    width: 10px;
    height: 14px;
  }
}

.hero {
  background-color: var(--color-background);
  text-align: center;
  padding: 118px 0;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero_overlay {
  margin-right: auto;
  margin-left: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-480.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-480.jpg);
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero_overlay {
    max-width: 1600px;
    height: 600px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero_overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-960-@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-960-@2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero_overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-768.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-768.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero_overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-1536-@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-1536-@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero_overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-1200.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-1200.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero_overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-2400-@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-2400-@2x.jpg);
  }
}
.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--secondary-color);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636363636;
    letter-spacing: 0.06em;
  }
}

.primary-btn {
  padding: 10px 24px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .benefit__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .benefit__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .benefit__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefit__item {
    width: 270px;
  }
}

.benefit__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
  margin-bottom: 30px;
}

.benefit__heading {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.benefit__description {
  color: var(--main-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.about {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about {
    display: block;
    padding-top: 0;
  }
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.about__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-bg-color);
  opacity: 0.8;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.teams {
  background-color: var(--secondary-bg-color);
}

@media screen and (min-width: 768px) {
  .teams__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.teams__card {
  background-color: var(--secondary-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .teams__card:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .teams__card {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .teams__card {
    width: 270px;
  }
}

.teams__description {
  padding-top: 30px;
  padding-bottom: 24px;
}

.teams__person {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.teams__career {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
  outline: 1px solid var(--main-icon-color);
  border-radius: 4px;
  color: var(--main-icon-color);
  -webkit-transition: color 250ms var(--timing-function), outline 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), outline 250ms var(--timing-function);
}
.client__link:hover, .client__link:focus {
  outline: 1px solid var(--accent-color);
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}

.client__icon {
  fill: currentColor;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-bg-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .page-footer {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__column {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .column:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .column:first-child {
    margin-bottom: 60px;
  }
}
.page-footer__logo {
  display: block;
  margin-bottom: 20px;
}

.address-item:not(:last-child) {
  margin-bottom: 8px;
}

.contacts-office {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.contacts-footer {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.join-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe__input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--secondary-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subcribe__btn {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
}

.subcribe__icon {
  margin-left: 10px;
  vertical-align: middle;
}

.sort-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .sort-menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 15px;
    max-width: 400px;
    margin-bottom: 40px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.sort-menu__item:not(:last-child) {
  margin-right: 8px;
}

.sort-menu__btn {
  padding: 6px 22px;
  color: inherit;
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: 1px;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.sort-menu__btn:hover, .sort-menu__btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.sort-menu__btn_first {
  padding-left: 25px;
  padding-right: 25px;
}

@media screen and (min-width: 768px) {
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .project__cart {
    margin-bottom: 30px;
  }
}

.project__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.overlay-text {
  position: absolute;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0.1;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  -webkit-transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
.project__cart:hover .overlay-text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__name {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project__name {
    max-width: 300px;
  }
}

.project__type {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.project__description {
  z-index: 2;
  padding: 20px 24px;
  border-left: 1px solid var(--shadow-color);
  border-bottom: 1px solid var(--shadow-color);
  border-right: 1px solid var(--shadow-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project__cart:first-child .project__description {
    padding-bottom: 56px;
  }
}/*# sourceMappingURL=main.css.map */