// Colors
:root {
  --primary-color: #212121;
  --secondary-color: #ffffff;
  --main-text-color: #757575;
  --primary-bg-color: #2F303A;
  --secondary-bg-color: #F5F4FA;
  --accent-color: #2196F3;
  --hover-btn-color: #188CE8;
  --main-icon-color: #AFB1B8;
  --shadow-color: #EEEEEE;
  --border-color: #ECECEC;
  --close-btn-color: #000000;

  --primary-font-family: "Roboto", sens-serif;
  --secondary-font-family: "Raleway", sens-serif;
  
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

